.productCard {
      background-color: rgb(236, 236, 236);
      width: 220px;
    }

    .productImage {
      width: 100%;
    }

    .productDetails {
      padding: 20px;
    }

    /* *********** */
    .productDetails > h1 {
      margin: 0;
      font-size: 20px;
      font-weight: lighter;
      color: brown;
    }
    .productDetails > h3 {
      margin: 0;
      font-weight: lighter;
      font-size: 16px;
    }
    .productDetails > p {
      font-size: 12px;
      text-align: justify;
    }
    .productDetails > button {
      background-color: brown;
      border: 1px solid brown;
      border-radius: 20px;
      padding-block: 6px;
      padding-inline: 20px;
      font-size: 8px;
      color: rgba(255, 255, 255, 0.922);
      cursor: pointer;
      transition: all 0.4s;
    }

    .productDetails > button:hover {
      background-color: white;
      color: brown;
    }