.text-red-500 {
  color: red;
}

.text-green-500 {
  color: green;
}

.text-blue-500 {
  color: blue;
}

.text-yellow-500 {
  color: yellow;
}




.bg-red-500 {
  background: red;
}

.bg-green-500 {
  background: green;
}

.bg-blue-500 {
  background: blue;
}

.bg-yellow-500 {
  background: yellow;
}